 * {
    box-sizing: border-box;
}        

html, body {
    font-family: 'Poppins', sans-serif;
    width: 100vw; /* Fix width to cover full viewport */
    margin: 0;
    padding: 0;
    background: #141317;
    font-size: 2vh;       
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#area1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex: 2; 
    background: white;
    gap: 5%;
}

#from-currency-select-container, #to-currency-select-container{
    height:12.01vmin;
    width: 26vmin;
    display: flex;
    flex-direction: row;
    padding: 1vmin;
    border-radius:31px;
    outline: none;
    border-style:none;
    background: linear-gradient(to right, #0D9993, #3F11A1);
}
#from-currency-image, #to-currency-image{
   max-height:9vmin;
   max-width:9vmin;
   object-fit: cover;
   border-radius:50%;
   overflow:hidden; 
}
#from-currency-select-background, #to-currency-select-background{
    height: 100%;
    border-style:none;
    background: linear-gradient(to bottom, #1E1E1E, #181818);
    border-radius: 29px;
    width:100%;
    display:flex;
    flex-direction: row;
}
#from-currency-select, #to-currency-select {
    height: 100%;
    border-style:none;
    color: white; 
    outline:none;
    width: 60%;
    border-radius: 29px;
    background: linear-gradient(to bottom, #1E1E1E, #181818);
}


#area2 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex: 1;
    background: red;
}

#area3 {
    width: 100vw;
    flex: 2;
    background: blue;
}

#area4 {
    width: 100vw;
    flex: 3;
    background: white;
}
 
